
.hero-con {
    display: flex;
    height: 100vh;
    justify-content: space-between;

    .hero-image {
        filter: grayscale(90%);
        height: 100vh;
        z-index: -1;
    }

    .text-burst-con {
        z-index: 9;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 1cqw 0;
        box-sizing: border-box;

        .burst-header {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: .5cqw;

            p {
                text-align: right;
                font-weight: 600;
                margin: auto 0;
                font-size: 2cqw;
                padding-top: .5cqw;
                position: relative;
            }

            p::before {
                content: "We can't keep all our thoughts in one place. Let it out.";
                font-size: .6cqw;
                position: absolute;
                bottom: -1.3cqw;
                font-weight: 100;
                text-wrap: nowrap;
                left: -6.5cqw;
                font-family: "Sansita Swashed";
            }

            h1 {
                text-align: left;
                font-weight: 600;
                font-size: 7cqw;
                cursor: pointer;
                position: relative;
            }

            h1::before {
                content: "";
                position: absolute;
                border-top: .5cqw solid #d8d8d8;
                width: 0cqw;
                bottom: 0;
                transition: width .3s ease-in-out;
            }

            h1:hover::before {
                width: 22cqw;
            }
        }

        .column-bursts {
            padding: 3cqw 6cqw;
            display: flex;
            gap: 1cqw;
            justify-content: center;

            .burst-one {
                width: 10cqw;
                text-align: justify;
                font-size: .7cqw;
                font-weight: 300;

                span {
                    font-family: "Sansita Swashed";
                    font-size: 2cqw;
                    line-height: 0;
                }
            }

            .burst-two {
                width: 13cqw;
                text-align: justify;
                font-size: .7cqw;
                font-weight: 300;
            }

            .burst-three {
                width: 7cqw;
                text-align: justify;
                font-size: .7cqw;
                font-weight: 300;
                gap: 1cqw;
                display: flex;
                flex-direction: column;

                h1 {
                    text-align: left;
                    font-weight: 800;
                    font-size: 1.3cqw;
                }
                span {
                    font-weight: 300;
                }

                a {
                    font-weight: 300;
                    font-family: "Sansita Swashed";
                    cursor: pointer;
                    font-size: 1cqw;
                    text-decoration: underline;
                }

                a:hover {
                    color: #ca9654;
                }
            }
        }
    }
}