:root {
    --c-main: ;
    --c-subtext: ;
    
    --s-main: ;
    --s-subtext: ;

    --c-hover: ;
    --c-active: ;
    --c-focus: ;

    --s-hover: ;
    --s-active: ;
    --s-focus: ;

    --c-bg: ;
    --c-bg-accent: ;#
}

* {
    transition: all .3s ease-in-out;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: outfit;
    padding: 0;
    margin: 0;
}

::selection {
  background: #80004660; /*Highlight Color*/
  color: rgb(242, 176, 255); /*Text Color*/
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 24
}