:root {
    --c-main: #d8d8d8;
    --c-subtext: ;
    
    --c-hover: ;
    --c-active: ;
    --c-focus: ;
    
    --c-bg: #0c0c0e;
    --c-bg-accent: ;
        
    --w-main: 500;
    --w-subtext: 400;
    
    --s-main: 1cqw;
    --s-subtext: .6cqw;
    --s-subsubtext: .55cqw;

    --s-hover: ;
    --s-active: ;
    --s-focus: ;

    --s-border: .13cqw solid #4f4f5050;
    --s-small-border: .1cqw solid #4f4f5020;

    --r-border: 1cqw;
    --r-small-border: .5cqw;
}

* {
    transition: all .3s ease-in-out;
    scroll-behavior: smooth;
    font-family: "Noto Sans JP";
    font-weight: var(--w-main);
    color: var(--c-main);
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--c-bg);
}

::selection {
  background: #80004660; /*Highlight Color*/
  color: rgb(242, 176, 255); /*Text Color*/
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 24
}

