main {
    transform: translate(-50%, 50%);
    top: 10%;
    left: 30%;
    position: absolute;
}

.profile-card {
    width: 30cqw;
    height: 25cqw;
    position: absolute;
    border-radius: var(--r-border);
    border: var(--s-border);
    padding: 1cqw;
    display: flex;
    gap: 1cqw;
    transition: linear .3s;
    box-shadow:
        -.5cqw .5cqw 1cqw 0cqw #d8d8d830,
        .5cqw -.5cqw 1cqw #d8d8d830;

    .profile-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 90% 90%;
        top: 0;
        left: 0;
        filter: blur(10px);
        opacity: 30%;
        border-radius: var(--r-border);
        z-index: 2;
    }

    .profile-bg-two {
        background-image: linear-gradient(to bottom right, #252425, #443729);
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 90% 90%;
        top: 0;
        left: 0;
        opacity: .5;
        filter: contrast(140%);
        border-radius: var(--r-border);
        z-index: 3;
    }

}

.info-table {
    width: 50%;
    height: 100%;
    border-radius: var(--r-small-border);
    border: var(--s-small-border);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    background-image: linear-gradient(to bottom, #1a160e);

    .info-con {
        position: relative;
        z-index: 3;
        box-sizing: border-box;
        padding: 2.5cqw 1.4cqw;
        height: 100%;
        width: 100%;

        .username{
            font-weight: bolder;
            font-size: var(--s-main);
        }

        .attributes {
            font-weight: var(--s-main);
            font-size: var(--s-subtext);
        }
    }
}

.user-images-con {
    display: flex;
    flex-direction: column;
    position: relative;
    
    .banner {
        width: 100%;
        object-fit: contain;
        position: relative;
        left: 0;
        top: 0;
        border-top-left-radius: var(--r-small-border);
        border-top-right-radius: var(--r-small-border);
        cursor: pointer; 
        user-select: none;
    }

    .banner:hover {
        filter: contrast(90%);
    }

    .avatar-con {
        user-select: none;
        position: absolute;
        left: .4cqw;
        top: 2.5cqw;
        z-index: 4;
        border-radius: 100%;
        border: #1a160e .5cqw solid;

        .avatar {
            width: 4cqw;
            height: 4cqw;
            cursor: pointer;
            border-radius: 100%;
            position: relative;

            #status {
                border-radius: 100%;
                width: 1cqw;
                height: 1cqw;
                z-index: 5;
                background-color: gray;
                border: .3cqw solid #1a160e;
                position: absolute;
                bottom: 0;
                right: 0;

                --before-width: .3cqw;
                --before-height: .3cqw;
                --before-bg: transparent;
                --before-radius: 100%;
            }

            #status::before {
                content: "";
                position: absolute;
                width: var(--before-width);
                height: var(--before-height);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: var(--before-radius);
                background-color: var(--before-bg);
                pointer-events: none;
                display: block;
            }
        }

        .avatar:hover {
            filter: contrast(90%);
        }

    }
}


.board-table {
    width: 50%;
    height: 100%;
    border-radius: var(--r-small-border);
    border: var(--s-small-border);
    display: flex;
    position: relative;
    z-index: 3;
    backdrop-filter: contrast(103%);
}